/*COMBINATORS*/
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**Descendent Selector*/
/*kutu cllası içerisindeki tüm p leri seç*/
/*.kutu p {
    color: red;
}*/

/*child selector*/
/* parentı kutu classı olan tüm p leri seç*/
/*.kutu > p {
    color: green;
}*/

h1 + p {
    color:green;
}

/** Child Selector*/
/*! parenti kutu class olan tüm p leri seç*/
.kutu >p {
    color: purple;
}

/*! h1 elementi kapandıktan sonra ilk p elementini seçer*/
h1 + p {
    color: green;
}

/*! h1 elementi kapandıktan sonraki tüm p elementlerini seçer*/
/** general sibling selector*/
h1 ~ p {
    color: hotpink;
}

h3{
    margin: 2rem;
    border: 1px solid red;
    outline: 3px solid purple;
    outline-offset: 10px;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}